EXP_NAME = train_conll
OREFMODELNAME = train_conll_v1
#TRAIN_LAYER = Intro, Basic, Coref 
TRAIN_LAYER = NONE
MODEL_PATH = conll_model
TUNE = false
TEST = true
CORPUS = CoNLL
COREF.Threshold = -12
PREWORDCOUNT = countTable/CoNLL12_DEVANDTRAIN_ENGLISH_All_AUTO_wordCount
TEST_DATAFILE = data/conll12/v1/english/CoNLL12_DEV_ENGLISH_All_AUTO
pathToScoreCache = cache/CoNLL12_DEV_ENGLISH_ALl_AUTO.v1.scorecache
pathToDocumentCache = cache/CoNLL12_DEV_ENGLISH_ALL_AUTO_docCache/
saveCacheDocuemnt = false
loadCacheDocuemnt = true
useGoldMentions = false
STORERESULT = conll_DEV_SP_v1_-12
#conll/CoNLL_TEST_AUTO_ALL
