EXP_NAME = train_conll
COREFMODELNAME = train_conll_v1
#TRAIN_LAYER = Intro, Basic, Coref 
TRAIN_LAYER = NONE
MODEL_PATH = conll_model
TUNE = false
TEST = true
CORPUS = CoNLL
COREF.Threshold = -16
PREWORDCOUNT = countTable/CoNLL12_DEVANDTRAIN_ENGLISH_All_AUTO_wordCount
TEST_DATAFILE = DEBUG
pathToScoreCache = cache/Debug.scorecache
pathToDocumentCache = cache/CoNLL12_DEV_ENGLISH_ALL_AUTO_docCache/
saveCacheDocuemnt = true
loadCacheDocuemnt = false
#data/conll12/v1/english/CoNLL12_DEV_ENGLISH_All_AUTO
useGoldMentions = false
STORERESULT = DEBUG_-16
#conll/CoNLL_TEST_AUTO_ALL
